/*Rebecca Baca
	Date: 9/10/18
	Last Modified: 9/26/18
	Restaurant Site
*/
/*****************IMAGE CAROUSEL**********************/
#carousel {
	width: auto;
	height: auto;
	margin: 0;
	border: silver solid 10px;
	border-radius: 3px;
	padding: 0;
	border-collapse: collapse; 
	float: both;
}
/******************** DALLY'S LOGO**********************/
#logo {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-align: left;
  text-shadow: 5px 5px 10px #a59891;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1;
  background-color: rgb(237, 237, 220);
  position: relative;
 }
@media only screen and (max-width: 600px) {
#logo {
	font-size: 60px;
}}
/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 300px) {
#logo {
	font-size: 30px;
}}
/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
#logo {
	font-size: 40px;
}}
/********************* RESTAURANT DESCRIPTION ***********/
@media only screen and (max-width: 300px) {
#restaurant {
	color:  #d1bd6e;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Permanent Marker', cursive;
	font-size: 15px;
}}
@media only screen and (max-width: 600px) {
#restaurant {
	color:  #d1bd6e;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Permanent Marker', cursive;
	font-size: 25px;
}}
@media only screen and (min-width: 601px) {
		#restaurant {
			color:  #d1bd6e;
			text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
			font-family: 'Permanent Marker', cursive;
			font-size: 60px;
			padding-top: 20px;
			padding-bottom: 20px;
		}}
/****************End of Restaurant Description***************/
#jumbotron {
	text-align: right;
	font-style: italic;
	color: #d1bd6e;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/****************  Jumbotron Animation ***************/
#jumbotron { transition: all .2s ease-in-out; }
#jumbotron:hover { transform: scale(1.2); }
/**************** End Jumbotron Animation ***************/
#burger {
	width: 80%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 6px solid dimgray;
	border-radius: 8px;
}
/**************** Main Page Burger Image Animation ***************/
#burger { transition: all .2s ease-in-out; }
#burger:hover { transform: scale(1.1); }
/**************** End Burger Image Animation *********************/
#nav {
	border-top: 4px double #AAA;
	border-bottom: 4px double #AAA;
	text-align: center;
}
#footer {
	border-top: 4px double #AAA;
	background-color: rgb(237, 237, 220);
	padding: 12px 12px 12px 0;
	text-align: center;
	color: #555;
	font-style: italic;
	font-size: 1em;
}
body {
  padding: 20px 70px;
  background: grey;
}
.colorMe {
	background-color: rgba(170, 168, 160, .3);
}

/********************************************************
						Navigation Menu Styling
*********************************************************/
#menu {
	border-top: 4px double #AAA;
	border-bottom: 4px double #AAA;
  	padding: 10px;	
	text-align: center;
	
}
#nav button {
  color:   #555;
 }
#nav button:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
#nav button:visited {
	color: #d1bd6e;
}
/*****************************************		
							Article 
******************************************/
#content {
	max-width: 80%;
	text-align: left;
	height: auto;
	margin: auto;
	padding: 5%;
}
#contact {
	max-width: 100%;
	height: auto;
	margin: auto;
	padding: 0;
}
/*****************************************		
						Table Styling
******************************************/
table {
    font-family: "Open Sans", sans-serif;
    border-collapse: collapse;
    width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
	text-align: center;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: black; background-color: #d1bd6e; font-weight: bold;}
table th {
    padding-top: 5px;
    padding-bottom: 5px;
	font-weight: bold;
	font-size: 20px;
    text-align: center;
    background-color: #555;
    color: white;
}
.beverages {
	text-align: center;
}
/* TABLE SIZE */
@media only screen and (max-width: 600px) {
table th {
	font-size: 15px;
}}
/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 300px) {
table th {
	font-size: 10px;
}}
/*****************************************		
					Form Styling
******************************************/
form {
	width: auto;
	height: auto;
	padding: 25px;;
	text-align: left;
	display: inline;
}
label {
	display: inline-block;
	text-align: left;
	font-weight: bold;
	float: left;
	margin-right: 12px;
}
#info {
	width: 40%;
	float: left;
	padding: 0;
}
select  {
	border: 1px solid #53687E;
}
input  {
	border: 1px solid #53687E;
}
#textarea {
	width: 250px;
	height: auto;
	
}
#submitButton {
	margin-left: 30%;
	border-radius: 1px;
}
#submitButton:hover {
	margin-left: 30%;
	background-color: white;
	color: #555;
	font-weight: bold;
	border-radius: 1px;
}
